.footer-social {
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }
}

.footer-social--title {
  margin-bottom: 20px;
  color: $WhiteTextColor;
  font-size: 14px;
  text-transform: uppercase;
}

.social__footer {
  display: flex;
}

.social__link--footer {
  @extend %social;
  @include FlexJustiAlign();
  background-color: hsla(0, 0%, 100%, 0.1);
  color: $WhiteTextColor;
  transition: background-color $TimingFunction;

  &:hover,
  &:focus {
    background-color: $AccentColor;
  }
}
