.container__mobile-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-menu {
  position: absolute;
  margin-left: auto;
  top: 10px;
  right: 15px;
  align-items: flex-end;
  border: transparent;
  padding: 0;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  background-color: $WhiteTextColor;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  transform: translate(0);
  transition: transform 500ms, visability 500ms;
}

.mobile-menu.is-hidden {
  transform: translate(100%);
}

.button-menu__icon {
  background-color: $WhiteTextColor;
}

.mobile-menu__link {
  color: $SecondTextColor;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.02em;
  &--current {
    color: $AccentColor;
  }
}

.mobile-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-contact {
  display: flex;
  flex-direction: column-reverse;
}

.mobile-contact__item {
  & + & {
    margin-bottom: 32px;
  }
}

.mobile-contact__tel {
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $AccentColor;
}

.mobile-contact__mail {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $MainTextColor;
}

.mobile-social {
  display: flex;
}

.mobile-social__item {
  margin-top: 64px;
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.mobile-social__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $AccentColor;
}
