.backdrop {
  @media screen and (max-width: 767px) {
    padding: 15px;
  }
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity $TimingFunction, visibility $TimingFunction;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;
  min-width: 90vw;

  background-color: $WhiteTextColor;
  border-radius: 4px;
  @extend %box-shadow-team;
  transition: translate $TimingFunction, box-shadow $TimingFunction;

  @media screen and (min-width: 480px) {
    min-width: 450px;
  }

  @media screen and (min-width: 550px) {
    margin: auto;
    min-height: 581px;
    //  Вариант ниже, не получился, кнопка закрытия убегала вверх
    //  position: absolute;
    //  top: 50%;
    //  left: 50%;
    //  transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 1200px) {
    min-width: 528px;
  }

  &__icon {
    fill: currentColor;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  @include FlexJustiAlign();
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: $WhiteTextColor;
  transition: color $TimingFunction;

  &:focus,
  &:hover {
    color: $AccentColor;
  }
}
